<h1>Shake 'n' Bake</h1>

<%= image_tag('http://i467.photobucket.com/albums/rr34/jaylvsanna/ShakeAndBake_Fullpic_1.gif', height: "200", width:  "300") %>

<h4>The Hungies Overload</h4>

<%= render partial: 'shared/question', collection: @pag_questions %>

<div class='digg_pagination'><%= will_paginate @questions %></div>
