<div class='new-question-form'>
	<%= form_for @question do |f| %>
		<%#= f.label :title %>
		<%= f.text_field :title, placeholder: "Title" %>
		<%#= f.label :body %>
		<%= f.text_area :body, placeholder: "Body", rows:10, cols:160 %>
	  <%#= f.file_field :image %>
		<%= f.submit "Create Question!", class: "btn btn-primary btn-sm" %>
	<% end %>
</div>