/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  width: 90%;
  position: relative;
  left: 2%;
  min-width: 900px;
}

#user {
  color: white;
  text-align: center;
  margin-top: 11px;
  margin-left: 33px;
}

#user_ul {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 18px;

}

#user span {
  color: #CC66CC;
}

.brand {
	color: #FFCC66 !important;
}

/*GREG'S CHANGES*/
.sign-up, .sign-in {
  display: none;
  background-color: #222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  margin: 0;
}

.sign-in input , .sign-up input {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
