// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_user {
  display: none;  
}

.profile {
  width: 60%;
  border-radius: 10px;
  border: solid thin;
  background-color: rgba(248,248,248, 1);
  margin-left: 20%;
  padding: 10px 20px 10px 30px;
  position: absolute;
}

h1 {
  text-align: center;

}

img {
  border-radius: 20px;
}

.image {
  float: left;
  width: 40%;
  display: inline-block;
}

.questions {
  display: inline-block;
  text-align: left;
  position: relative;
  border: solid 2px;
  border-radius: 20px;
  left: 8px;
}

.questions h3 {
  margin-left: 22px;
}

.questions ul {
  width: 300px !important;
  word-wrap: break-word !important;
  padding-right: 29px !important;
}

.image button {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: 205px !important;
}

#color_form_btn {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#color {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 20px !important;
  text-align: center;
}

#update_image {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: 205px !important;
}
